<div class="center views">
  <a href="/#!/add"><input type="button" value="edit your zoo"></a>
  <a href="/#!/zoo"><input type="button" value="look at your zoo"></a>
  <a href="/#!/"><input type="button" value="home"></a>
  <h1>Look at all these animals you have!</h1>
</div>

<div class="center nav-search">
  <button type="button" ng-click="setView('animals')">Animals</button>
  <button type="button" ng-click="setView('zones')">Zones</button>
  <button type="button" ng-click="setView('trainers')">Trainers</button>
</div>


<div ng-show="view === 'animals'">
  <div class="animalCard" ng-repeat="animal in animals">
    <img class="animalPic" src="{{animal.photo}}">
    <div class="">
      {{ animal.name }} is a {{animal.age}} year old {{animal.species}} who resides in the {{animal.zone.location}} zone.
    </div>
    <div>
      <input type="button" value="remove" ng-click="remove(animal.id)">
      <input type="button" value="edit" ng-click="editing = !editing">
    </div>
    <div ng-if="true">
      <label class="label" for="name">Name</label>
      <input name='name' type="text" ng-model="animal.name">

      <label class="label" for="spec">Spec</label>
      <input name='spec' type="text" ng-model="animal.species">

      <label class="label" for="age">Age</label>
      <input name='age' type="text" ng-model="animal.age">
      <input type="button" value="save" ng-click="save(animal._id, animal)">
    </div>
  </div>
</div>







<div ng-show="view == 'zones'">
  <div class="row">
     <div class="map col-xs-6">
        <div class="row top-row">
          <button ng-click="showZone(3)" value="3" class="map-button nw">Northwest</button>
          <button ng-click="showZone(1)" value="1" class="map-button ne">Northeast</button>
        </div>
        <div class="row cent-row">
          <button ng-click="showZone(4)" value="4" class="map-button cent">Central</button>
        </div>

        <div class="row bottom-row">
          <button ng-click="showZone(5)" value="5" class="map-button sw">Southwest</button>
          <button ng-click="showZone(2)" value="2" class="map-button se">Southeast</button>
        </div>
      </div>
     <div ng-show="activeZone" class="active-zone">
        <div ng-repeat="zookeeper in zookeepers | filter : {zone: {id: activeZone} }">
            <h2>{{ zookeeper.zone.location }}</h2>
            <span class="zookeeper_name">Zookeeper: </span>
            <span class="zookeeper_name">{{zookeeper.name}}</span>
            <img class="zookeeper_photo" src="{{zookeeper.photo}}"/>  
          <div class="animalist" ng-repeat="animal in animals | filter : {zone_id: activeZone}">
            <ul>
              <li>{{animal.name}}</li>
            </ul>
          </div>
        </div>
      </div>
  </div>

</div>
