body {
  background: linear-gradient(#a0ffa0, #83fe83);
  color: #366a36;
  font-family: 'Gorditas', cursive;
}

.vph {
  min-height: 700px;
  padding: 0 10% 5%;
}

.animalCard {
  /*border: 1px solid black;*/
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 30%;
  height: 350px;
  /*overflow: scroll;*/
}

.animalPic {
  border: 10px dashed #366a36;
  max-height: 200px;
  width: auto;
  margin: 5%;
}

.titlePic {
  width: 150px;
  display: inline;
  border: 10px solid #366a36;
  margin-right: 5%;
}

#title {
  display: inline;
  font-size: 5em;
  margin: auto;
}

.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}

.banner {
  text-align: center;

}

input {
  background-color: white;
  border: none;
  border-radius: 2px;
  border: 2px solid #366a36;
  font-family: 'Gorditas', cursive;
  font-size: 1em;
  color: #366a36;
  padding: 1% 2%;
  margin: 1%;
}

.center {
  text-align: center;
}

.label {
  margin-right: 3%;
}

.nav-search {
  background-color: orange;
  padding: 1%;
  border: 5px solid white;
}

.nav-search > button {
  background-color: white;
  border: none;
  border-radius: 2px;
  border: 2px solid #366a36;
  font-family: 'Gorditas', cursive;
  font-size: 1em;
  color: #366a36;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
}


.views > a > input {
  background: none;
}

/*  MAP STUFF   */


.map {
  /*margin-left: 5%;*/
  height: 400px;
  width: 580px;
  background: url(/app/zoo_map.jpg) center / cover no-repeat;
  /*padding-top: 5px;*/
}

.map-button {
    background-color: white;
  border: none;
  border-radius: 2px;
  border: 2px solid #366a36;
  font-family: 'Gorditas', cursive;
  font-size: 1em;
  color: #366a36;
  padding: 1%;
  margin: 3%;
  border-radius: 5px;
}

.nw {
  margin-left: 20%
}

.ne {
  margin-left: 40%;
}

.se {
  margin-left: 37%;
}

.sw {
  margin-left: 20%
}

.cent {
  margin-left: 45%;
}

.top-row {
  margin-top: 10%;
}

.cent-row {
  margin-top: 10%;
}

.bottom-row {
  margin-top: 7%;
}
