body {
  background: linear-gradient(#a0ffa0, #83fe83);
  color: #366a36;
  font-family: 'Gorditas', cursive;
}

.vph {
  min-height: 700px;
  padding: 0 10% 5%;
}

.animalCard {
  /*border: 1px solid black;*/
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 30%;
  height: 350px;
  overflow: scroll;
}

.animalPic {
  width: 90%;
  margin: 5%;
}

.titlePic {
  width: 150px;
  display: inline;
  border: 10px solid #366a36;
  margin-right: 5%;
}

#title {
  display: inline;
  font-size: 5em;
  margin: auto;
}

.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}

.banner {
  text-align: center;

}

input {
  background-color: white;
  border: none;
  border-radius: 2px;
  border: 2px solid #366a36;
  font-family: 'Gorditas', cursive;
  font-size: 1em;
  color: #366a36;
  padding: 1% 2%;
  margin: 1%;
}
